/*------------------------------------*    $IMPORTS
\*------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  height: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?n5xl6m");
  src: url("fonts/icomoon.eot?n5xl6m#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?n5xl6m") format('truetype'), url("fonts/icomoon.woff?n5xl6m") format('woff'), url("fonts/icomoon.svg?n5xl6m#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e905";
}
.icon-envelope2:before {
  content: "\e902";
}
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/*------------------------------------*    $COLORES
\*------------------------------------*/
/*------------------------------------*    $TIPOGRAFÍA
\*------------------------------------*/
/*------------------------------------*    $GRID Y MÁRGENES
\*------------------------------------*/
/*------------------------------------*    $ELEMENTOS
\*------------------------------------*/
/*------------------------------------*    $UTILIDADES
\*------------------------------------*/
/*------------------------------------*    $LAYOUT 
\*------------------------------------*/
/**
 * ^leonidas 320 480 768 1024
 */
/* Xsmall */
html {
  font-size: 80%;
}
body {
  background-image: url("../img/bg.jpg");
  background-repeat: repeat-x;
  -webkit-background-size: auto 100vh;
  -moz-background-size: auto 100vh;
  background-size: auto 100vh;
  background-position: center top;
}
.wrapper {
  padding: 16px;
}
.logo {
  height: 50px;
  width: auto;
}
.main {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 5;
}
.top {
  padding-top: 48px;
}
.middle {
  padding-top: 16px;
}
.bottom {
  padding-top: 16px;
  padding-bottom: 16px;
}
.headline {
  font-size: 2rem;
  text-transform: uppercase;
}
.body {
  font-size: 1rem;
}
.form-container {
  background-color: rgba(0,0,0,0.35);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
.form--copy {
  color: rgba(255,255,255,0.7);
  padding-bottom: 16px;
}
.form--copy span {
  color: #fff;
  font-weight: 700;
}
.form .form--input {
  width: 100%;
  height: 35px;
  border: none;
  margin-bottom: 16px;
}
.form .form--submit {
  background-color: #8fca53;
  height: 35px;
  width: 100px;
  border: none;
}
.gradient {

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100&0+0,0.5+100 */
		background: -moz-linear-gradient(top, rgba(229,229,229,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
  width: 100%;
  height: 30vh;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+0,000000+100&0+0,0.5+100 */
		background: -moz-linear-gradient(top, rgba(229,229,229,0) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(229,229,229,0) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(229,229,229,0) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
/* small */
@media only screen and (min-width: 480px) {
  html {
    font-size: 100%;
  }
}
/* medium */
