/*------------------------------------*    $IMPORTS
\*------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  height: auto;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?n5xl6m");
  src: url("../fonts/icomoon.eot?n5xl6m#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?n5xl6m") format('truetype'), url("../fonts/icomoon.woff?n5xl6m") format('woff'), url("../fonts/icomoon.svg?n5xl6m#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-user:before {
  content: "\e905";
}
.icon-envelope2:before {
  content: "\e902";
}
/*------------------------------------*    $MIXINS
\*------------------------------------*/
/*------------------------------------*    $COLORES
\*------------------------------------*/
/*------------------------------------*    $TIPOGRAFÍA
\*------------------------------------*/
/*------------------------------------*    $GRID Y MÁRGENES
\*------------------------------------*/
/*------------------------------------*    $ELEMENTOS
\*------------------------------------*/
/*------------------------------------*    $UTILIDADES
\*------------------------------------*/
body {
  background-repeat: no-repeat;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: 100% 100vh;
  -moz-background-size: 100% 100vh;
  background-size: 100% 100vh;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5/1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body {
    background-image: url("../img/bg@2x.jpg");
    -webkit-background-size: 1104px, 736px auto;
    -moz-background-size: 1104px, 736px auto;
    background-size: 1104px, 736px auto;
  }
}
/*------------------------------------*    $LAYOUT 
\*------------------------------------*/
/**
 * ^leonidas 320 480 768 1024
 */
/* Xsmall */
html {
  font-size: 80%;
}
/* small */
@media only screen and (min-width: 480px) {
  html {
    font-size: 100%;
  }
}
/* medium */
